p{
    color:#fff;  
}

section {
	background-image: linear-gradient(rgba(0, 0, 0, 0.43),
	rgba(0, 0, 0, 0.43)), url("/assets/road.jpg");
	background-position: center;
	background-size: cover;
	height : 100vh;
	background-attachment: fixed;
	
}

